@import url('href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"');
:root {
    --primary: #B10F1C;
    --light: #ffffff;
    --grey: #efefef;
}

body {
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: var(--primary);
}

a:hover {
    text-decoration: none;
}

.logo h4 a{		
	color: #FFF;	
}

.logo h4 a:link, .logo h4 a:active {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
}

#sidebar-container {
    min-height: 100vh;
    width: 14rem;
}
  
#sidebar-container .logo{
    padding: 0.875rem 1.25rem;
    text-align: center;
}
  
#sidebar-container .menu {
    width: 18rem;
}

.menu a:hover{
	background: rgba(255,255,255,0.3);
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
}

.avatar {
    max-width: 35px;
}

.btn-search {
    right: 0;
}

.stat {
    border-right: 1px solid var(--grey);
}

  
@media (max-width: 768px) {
    #sidebar-container {
      display: none;
    }
    .stat {
        border: 0;
    }
  }
  