@import url('href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"');

{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
header{
	width: 100%;
	height: 110px;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	z-index:100; 
	/*border: 2px solid;*/
}
.bloque1{
	width: 100%;
	height: 50%;
	background-color: #333;
	display: flex;
	flex-direction: row;								/*juntar en fila o columna*/
	justify-content: center;							/*alineado horizontal*/	
	align-items: center;
}
.bloque1 a{
	margin-right: 10px;
	color: white;
	text-decoration: none;
}

/***********************************************BLOQUE 2*********************/
.logo{
	margin: 20px;
	margin-top: 5px;
	margin-left: 5%;
}
.contenedor{
	width: 90%;
	margin:0;
	
}

/***************menu***********/
#menuprincipal{
 	display: none;						/*ocultamos la caja checked*/
 }
header .contenedor label{				/*ICONO DE MENU*/
 	float: right;
 	font-size: 28px;
 	margin: 15px 1px;
 	cursor: pointer;					/*aparece una mano si se pasa sobre el*/
 }

.contenedor .menu{						/*MENU DESPLAZABLE PARA CELULAR*/
	position: absolute;
 	top: 110px;							/*depende del tamanio del header*/
 	left: 0;
 	width: 100%;
 	height: 46vh;						
 	background: rgba(51,51,51,0.7);
 	transition: all 0.5s;
 	transform: translateX(-100%);		/*trasladar el menu de manera horizontal a la izquierda*/
 	}
	.contenedor .menu a{					/*ESTILO DE BARRA*/
	display: block;
	color: #FAFAFA;
	height: 30px;						
	text-decoration: none;			
	padding: 12px;
	border-bottom: 2.5px solid rgba(255,255,255,0.3);
	font-family: 'Open Sans', sans-serif;
	}
.menu a:hover{
	background: rgba(255,255,255,0.3);
}

/*cuando haga clic en el icono label selecciona el .menu*/
#menuprincipal:checked ~ .menu{
	transform: translateX(0%); /*trasladar el menu de manera horizontal*/
}


/*******RESPONSIVE CELULAR*********/
@media	(max-width: 375px){
	.contenedor .menu{						/*MENU DESPLAZABLE PARA CELULAR*/
	position: absolute;
 	top: 110px;							/*depende del tamanio del header*/
 	left: 0;
 	width: 100%;
 	height: 37.7vh;						
 	background: rgba(51,51,51,0.7);
 	transition: all 0.5s;
 	transform: translateX(-100%);		/*trasladar el menu de manera horizontal a la izquierda*/
 	}
}




